.container {
    margin-top: 80px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.link {
    color: gray;
    text-decoration: none;
}

.link.active {
    font-weight: bold;
    color: black;
}

.separator {
    color: gray;
}