
.instructiveContainer {
    max-width: 40%; 
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 2%; 
    border: 1px solid #ccc;
    border-radius: 10px;
   
  }
  
  .instructive h1{
    text-align: center;
  }
  .instructive ul {
    text-align: left;
  }
  
  .instructive li {
    text-align: left;
  }
  
  