
.verification{
    width: 100%;
    height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-around ;
   align-items: center;
   
}
.form-verification{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}